*{
 margin:0;
 padding:0;
 box-sizing: border-box;
 font-family: 'Open Sans', sans-serif;
}


html,body{
  height:100%;
}

/*CLASSES AUXILIARES*/

.center{
	margin: 0 auto;
	max-width: 1000px;
	padding: 0 2%;
}

.clear{
	clear: both;
}

.error{color: red;}

.success{
	color: green;
	display: none;
}

/*******/

.layer{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 1;
}

section.main{
	background-image: url('../img/bg1.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	padding: 15px 0;
	min-height: 800px;
	position: relative;
}

section.main header{
	position: relative;
	z-index: 2;
	padding-bottom: 10px;
	border-bottom: 1px solid white;
}

.icons-social{
	float: right;
}

.icons-social a{
	color: white;
	text-decoration: none;
	font-size: 20px;
	margin: 0 15px;
}

.logo{
	margin-top: 20px;
	float: left;
	color: white;
	font-size: 23px;
	font-weight: bold;
}

.logo a{
	text-decoration: none;
	color: white;
}

nav.desktop{
	margin-top: 20px;
	float: right;
}

nav.desktop ul{
	list-style-type: none;
}

nav.desktop li{
	display: inline-block;
	margin:0 15px;
	font-size: 17px;
	font-weight: lighter;
}

nav.desktop a{
	color: white;
	text-decoration: none;
}

nav.desktop a:hover{
	border-bottom: 1px solid white;
}	

nav.mobile{
	display: none;
	float: right;
}

nav.mobile > i{
	position: relative;
	top: 23px;
	cursor: pointer;
	font-size: 25px;
	color: white;
}

nav.mobile ul{
	display: none;
	position: absolute;
	left: 0;
	width: 100%;
	top: 95px;
	background-color: white;
	list-style-type: none;
	z-index: 2;
}

nav.mobile ul li:hover{
	background-color: #ccc;
}

nav.mobile li{
	font-weight: lighter;
	border-bottom: 1px solid #444;
	text-align: center;
	padding: 8px 0;
}

nav.mobile a{
	display: block;
	text-decoration: none;
	color: #444;
}

.conteudo-header{
	position: relative;
	z-index: 1;
	max-width: 700px;
	margin: 110px 0;
}

.conteudo-header h2{
	color: white;
	font-weight: lighter;
	font-size: 44px;
}

.conteudo-header h2>span{
	color: #2692FF;
}

.conteudo-header p{
	color: white;
	margin-top: 18px;
	font-size: 16px;
	font-weight: lighter;
}

.conteudo-header a{
	display: block;
	width: 177px;
	height: 44px;
	background-color: #2693FF;
	color: white;
	text-align: center;
	text-decoration: none;
	margin-top: 20px;
	line-height: 44px;
	border-radius: 20px;
}

.chamada-planos{
	width: 100%;
	text-align: center;
	padding: 27px 2%;
	background-color: rgb(220,220,220);
}

.chamada-planos h2{
	display: inline-block;
	border-top: 2px solid #2692FF;
	color: #2692FF;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 25px;
}

.box-planos{
	padding: 40px 0;
}

.box-planos > .center{
	display: flex;
	flex-wrap: wrap;
}

.box-planos-single{
	width: 33.3%;
	padding: 0 40px;
}

.box-planos-wraper{
	width: 100%;
	-webkit-box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
	box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);	
	border: 1px solid #ccc;
	min-height: 250px;
}

.box-planos-single h2{
	background-color: #2692FF;
	color: white;
	text-align: center;
	padding: 3px;
	font-weight: lighter;
}

.pontos-plano{
	padding: 8px 0 15px 0;
}

.preco{
	margin-top: 10px;
	padding: 15px 0;
	text-align: center;
}

.preco h2{
	font-size: 24px;
	color: #777;
	padding: 0 20px;
	background-color: transparent;
	display: inline-block;
	border-top: 1px solid #ccc;
}

.box-planos-single p{
	margin-left: 8px;
	color: #777777;
	font-size: 17px;
	margin-top: 8px;
}

section.parallax{
	position: relative;
	width: 100%;
	padding: 60px 0;
	min-height: 300px;
	background-image: url('../img/capa.png');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

section.parallax > .center{
	position: relative;
	z-index: 2;
	max-width: 960px;
	color: white;
}

section.parallax h2{
	text-align: center;
}

section.parallax p{
	margin-top: 15px;
}

.overlay-parallax{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	background-color: rgba(20,20,20,0.6);
	left: 0;
	top: 0;
}

section.final-section{
	padding: 30px 0;
}

.w50{
	float: left;
	width: 50%;
	padding: 0 20px;
	margin: 30px 0;
}

section.final-section h2{
	font-weight: lighter;
	color: #777777;
	font-size: 24px;
}

.contato input:not([type=submit]){
	font-size: 15px;
	width: 100%;
	height: 40px;
	border: 1px solid #ccc;
	padding-left: 8px;
	margin-top: 10px;
}

.contato textarea{
	font-size: 15px;
	width: 100%;
	height: 120px;
	border: 1px solid #ccc;
	padding: 8px;
	resize: vertical;
	margin-top: 10px;
}

.contato input[type=submit]{
	font-size: 18px;
	cursor: pointer;
	background-color: #2693FF;
	color: white;
	border:0;
	width: 100px;
	height: 33px;
	border-radius: 30px;
	margin-top: 10px;
}

.time > .w50{
	width: 48%;
	margin: 8px 1%;
}

.equipe-single{
	padding: 10px 8px;
	border: 1px solid #ccc;
	-webkit-box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
	box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);	
}

.topo-box-usuario{
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.box-avatar{
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	vertical-align: middle;
	background-position: center;
	background-size: cover;

}

.info-usuario{
	display: inline-block;
	color: #777;
	vertical-align: middle;
	padding-left: 1px;

}

.descricao-usuario-box{
	color: #999999;
	font-weight: lighter;
	font-size: 15px;
	margin-top: 10px;
}

footer{
	width: 100%;
	padding: 10px 2%;
	text-align: center;
	color: white;
	background-color: #444;
}

@media screen and (max-width: 768px){
	.w50{
		width: 100%;
		margin: 10px 0;
	}
	.time > .w50{
		width: 100%;
		margin: 10px;
	}

	nav.desktop{
		display: none;
	}

	nav.mobile{
		display: block;
	}

}

@media screen and (max-width: 1000px){
	.box-planos-single{
		width: 100%;
		margin:10px 0;
		text-align: center;
	}

}

